---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
    article: CollectionEntry<'articles'>
}

const { article } = Astro.props

---

<a class="article-show-item lg-vertical col-span-1" tabindex="0" target="_self" href={`/article/${article.data.id}/`}>
    {
        article.data.cover.image && <Image src={article.data.cover.image} alt={article.data.cover.alt} class="cover-image" width={1280} height={640}></Image>
    }
    <h3 class="title title-small md:title-medium line-clamp-2">{ article.data.meta.title }</h3>
    <p class="description body-small md:body-medium line-clamp-2">{ article.data.meta.description }</p>
    <p class="author label-small md:label-medium">{ article.data.meta.author }</p>
    <div class="tags">
        {article.data.meta.keywords.map(key => <span>{key}</span>)}
    </div>
    <mdc-focus-ring></mdc-focus-ring>
</a>

<style>
    @reference "tailwindcss";
    @reference "../../styles/global.css";
    .article-show-item {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr auto;
        box-sizing: border-box;
        position: relative;
        outline: none;
        border-radius: 16px;
        background: var(--md-sys-color-surface-container-lowest);
        column-gap: 12px;
        row-gap: 6px;
        padding: 4px;
        text-decoration-line: none;
        -webkit-tap-highlight-color: transparent;
        margin-block-end: 4px;

        transition-property: background, color, border-radius;
        transition-duration: 150ms;

        &>:is(.title, .description, .author) {
            margin: 0;
            box-sizing: border-box;
        }

        &>.title {
            @apply title-small md:title-medium;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-inline-start: 16px;
            margin-block-start: 16px;
            color: var(--md-sys-color-on-surface);
        }
        &>.description {
            @apply body-small md:body-medium;
            grid-column: 1/2;
            grid-row: 2/3;
            margin-inline-start: 16px;
            color: var(--md-sys-color-on-surface-variant);
        }
        &>.author {
            @apply label-small md:label-medium;
            grid-column: 1/2;
            grid-row: 3/4;
            margin-inline-start: 16px;
            color: var(--md-sys-color-on-surface-variant);
        }
        &>.tags {
            @apply label-small md:label-medium;
            grid-column: 1/2;
            grid-row: 4/5;
            margin-inline-start: 16px;
            margin-block-end: 16px;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            &>span {
                padding-inline: 4px;
                padding-block: 4px;
                border-radius: 4px;
                color: var(--md-sys-color-on-surface);
                background: var(--md-sys-color-surface);
                color: var(--md-sys-color-on-surface-variant);
            }
        }

        &>.cover-image {
            grid-column: 2/3;
            grid-row: 1/5;
            width: 100%;
            height: 100%;
            aspect-ratio: 1280 / 640;
            object-fit: cover;
            object-position: center;
            border-start-end-radius: inherit;
            border-end-end-radius: inherit;
            border-start-start-radius: 16px;
            border-end-start-radius: 16px;

            max-width: 96px;
            @media (min-width: 600px) {
                max-width: 128px;
            }
            @media (min-width: 840px) {
                max-width: 196px;
            }
        }

        &:hover,
        &:focus-within {
            border-radius: 32px;
            background: var(--md-sys-color-secondary-container);
        }

        &:active {
            border-radius: 12px;
        }


    }
</style>
